# Root folder
.gitattributes merge=copy-merge
.gitignore merge=copy-merge

# __CRIO__
__CRIO__/metadata.json merge=copy-merge

# .vscode/
.vscode/launch.json merge=copy-merge
.vscode/settings.json merge=copy-merge
.vscode/tasks.json merge=copy-merge

# assesment/
assesment/** merge=copy-merge

# gradle/
gradle/** merge=copy-merge

# app/
app/build.gradle merge=copy-merge
