# Root folder
.gitattributes merge=copy-merge
.gitignore merge=copy-merge

# __CRIO__
__CRIO__/metadata.json merge=copy-merge

# .vscode/
.vscode/launch.json merge=copy-merge
.vscode/settings.json merge=copy-merge
.vscode/tasks.json merge=copy-merge

# assesment/
assesment/** merge=copy-merge

# gradle/
gradle/** merge=copy-merge

# app/
app/build.gradle merge=copy-merge

# CRIO_SOLUTION_AND_STUB_ONLY_START_MODULE_XPATH
app/src/main/java/QKART_SANITY_LOGIN/QkartSanity.java merge=ours
app/src/main/java/QKART_SANITY_LOGIN/Checkout.java merge=ours
app/src/main/java/QKART_SANITY_LOGIN/Home.java merge=ours
app/src/main/java/QKART_SANITY_LOGIN/Login.java merge=ours
app/src/main/java/QKART_SANITY_LOGIN/Register.java merge=ours
app/src/main/java/QKART_SANITY_LOGIN/SearchResult.java merge=ours
# CRIO_SOLUTION_AND_STUB_ONLY_END_MODULE_XPATH